body {
  background-color: grey;
  font-family: arial;
  background-image: url("../img/Dice-Color.jpg");
  background-size: cover;
}

#gameBoard{
  border: 2px solid #444;
  margin-top: 2%;
  background-color: #308030;
  background-image: url("../img/felt.png");
  height: 850px;
  border-radius: 30px;
}
#newGame{
  display: inline-block;
}
#rules{
  display: inline-block;
}

h1{
  color: black;
  display: inline-block;
  margin-left: 50px;
}

.logobtn{
  margin-top: 20px;
  float:right;
  margin-left: 230px;
}

#scoreCard{
  margin-top: 2%;
  background-color: rgb(130,100,50);
  height: 89%;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 2px 2px 40px #111;
}

#diceArea{
  margin-top: 15%;
  display: inline-block;
}

.dice{
  width:100px;
  height:100px;
  display: inline-block;
  margin-bottom: 2%;
  margin-left: 30px;
  box-shadow: 1px 3px 30px #111;
  border-radius: 20px;
}
#die4{
  margin-left:25%;
}
#rollbtn{
  margin-left: 40%;
}
img{
  width: 100%;
}

button{
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 1px 2px 20px #222;
  -moz-box-shadow: 1px 2px 20px #222;
  box-shadow: 1px 2px 20px #222;
  font-family: Arial;
  color: #000000;
  font-size: 16px;
  background: #289E00;
  padding: 10px 25px 10px 25px;
  border: solid #2f991f 1px;
  text-decoration: none;
}

button:hover{
  background: #1fed22;
  text-decoration: none;
}
table{
  font-weight: bold;
}
 table td a{
  display: block;
 }
